<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Token Tracker</title>
        <link rel="stylesheet" href="static/home_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap" rel="stylesheet">
    </head>
    <header>
        <h1 class="name">TOKEN<span>TRACKER</span></h1>
        <nav>
            <ul>
                <li><a class="home-link" href=home>Home</a></li>
                <li><a href=get-started>Get started</a></li>
                <li><a class="nfts-link" href="nfts">NFTs</a></li>
                <li><a class="about-link" href="about">About Us</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class="home-content">
            <h1>KEEPING TRACK OF YOUR <span class="name">NFTs</span><br>SO YOU DON'T HAVE TO</h1>
            <p class="home-p">Our website helps you keep track of your favorite NFTs providing you with the right time to buy them to maximise your profit</p>
            <button class="btn"><a class="get-started-btn" href="get-started"> GET STARTED </a></button>
        </div>
        <div class="square1">
            <p class="circle-1-content">ETH NFTs SUPPORTED</p>
        </div>
        <div class="square2">
            <p class="circle-2-content"> 100+ POPULAR NFTs</p>
        </div>
        <div class="square3">
            <p class="circle-3-content">REALTIME TRACKING</p>
        </div>
        <img class="nft" src="https://media.giphy.com/media/AA4N5haI6ldIfPfZqE/giphy.gif" alt="nft gif">
    </body>
</html>